body{
       background-color: white;
       cursor: default;
       background-size: cover;
       min-height: 60vh;
       background-repeat: no-repeat;
       background-position: center center;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       box-sizing: border-box;
}
       
/*Estos son los estilos de las navbar */ 
.navbar.navbar-expand-lg.bg-secondary{
       background: rgb(194,24,91);
       background: -moz-linear-gradient(90deg, rgba(194,24,91,1) 33%, rgba(248,187,208,1) 100%);
       background: -webkit-linear-gradient(90deg, rgba(194,24,91,1) 33%, rgba(248,187,208,1) 100%);
       background: linear-gradient(90deg, rgba(194,24,91,1) 33%, rgba(248,187,208,1) 100%);
       filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c2185b",endColorstr="#f8bbd0",GradientType=1);
       flex-wrap: wrap;
       text-shadow: 2px 2px 2px rgba(255, 253, 253, 0.2) ;
} 
.collapse, .navbar-collapse{
       margin-right: 0rem;
}       

.menu-item{
       margin-left: 4rem;
       color: black;
}
.list-group-horizontal{
       margin-left: 0%;
}
.nav-horizontal{
       margin-left: 2%;
}
.list-group-item{
       background-color: transparent;
       border-color: transparent;      
}     
.nav-segunda{
       margin-left: 7rem;
}
 /*Estos son los estilos del banner */ 
.background-banner{
       width: 100%;
       min-height: 70vh;
       object-fit: cover;
       position: relative;
       display: inline-block;
       text-align: center;
}
.fondo1{
       display: block;
       margin: auto;
       position: absolute;
       text-align: center
       
}
h1.intro{ 
       font-size: 4rem;
       color:   rgb(194,24,91);
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
h4.intro{
       padding-top: 10%;
       color: white;
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
h3.intro{
       color: white;
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.color-overlay{
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.2);
}

/*Estos son los estilos de los espacios intermedios con frases motivadoras */
.internedio{
       height: 50%; 
       background-color: antiquewhite;
}
.texto{
       margin-top: 5rem;
       margin-bottom: 5rem;
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) ;   
       text-align: center;
} 



 /*Estos son los estilos de los artículos */ 
 .row{
       background-size: cover;
       background-color: white;
       color: rgb(0, 0, 0);
       margin: 0px;
           
}
.card-img-top{
       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
}
.card.mb-3{
       height: 25%;
       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
             
}
.card-title{
       text-align: center;
}
.card-text{
       text-align: justify;      
}
.boton{
       text-align: center;
}
.fila2{
       border: 1px solid white;
       background-color: rgb(187, 186, 186);
}
.presentacion{
       padding-top: 3%;
}

.img-fluid{
       object-fit: cover;
       width: 100%;
       height: 100%;
}
.pequeño{
       margin-left: 3rem;
       margin-right: 3rem;
       margin-top: 4rem;
       margin-bottom: 4rem;
}  
#small-quote{
       background-color: #9198a0;
       color: black;
       text-shadow: 2px 2px 2px rgb(255, 255, 255) ;
} 
.centered{
       text-align: center;
}
/*Estos son los estilos de los modales */
.header-contacto{
       background-color: #f78be0;
}
.body-contacto{
       text-align: center;
}
.titulo{
       padding-bottom: 5%;
}
.modal-content, .modal-footer{       
       border-width: 0px;
}
.justificado{
       text-align: justify;
}
#acercaDeMi{
       background-color: #9198a0;
}  
#experiencia{
       background-color: #f78be0;
} 
#educacion{
       background-color: #86359c;
} 
#habilidades{
       background-color: #d689e9;
}
#proyectos{
       background-color: #bb1658;
       text-align: justify;
}   
.entreAmigas{
       border-radius: 2mm;
}
.suscripcion{
       background-color: #bb1658;
}
/*Estos son los estilos del footer */ 
.pie-pagina{
      clear: both;
      width: 100%; 
      height: 10rem;
}
.botones-inferiores{
       margin-left: 14em;
       
}
/* Estos son los estilos del copywrite*/
.copywrite{
       margin-top: 1em;
       color: black;
       font-size: 1rem;
       text-align: center;
}
